#menuSlideContainer_mcptpl {
  position: fixed;
  bottom:0;
  width: 100%;
  z-index: 1000;
}
#menuSlideButton_mcptpl {
  background: top left no-repeat #333;
  color: white;
  font-family: DejaVuSansBook, Sans-Serif;
  position: absolute;
  top: -40px;
  right: 40%;
  width:20%;
  height:40px;
  border: none;
  cursor: pointer;
  
}
#menuSlideButton_mcptpl .pad { 
  padding: 10px; 
  
}

#menuSlideContent_mcptpl {
  width: 100%;
  height: 0px;
  background: var(--content-bg-color);
  color: #CCCCCC;
  font-size: 0.8em;
  border: none;
  font-family: DejaVuSansBook, Sans-Serif;
}
#menuSlidePad_mcptpl {
  padding: 25px;
}


.item-label_mcptpl{
  margin-top:10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  color:white;
}
.item-title_mcptpl{
  font-family: "Helvetica Neue", DejaVuSansBook, Helvetica, Arial, Roboto, sans-serif;
  font-size: 1.7em;
  font-weight: bold;
  text-transform: uppercase;
  color:white;
  margin-top: 10px;
}
.item-desc_mcptpl{
  font-family: "Helvetica Neue", DejaVuSansBook, Helvetica, Arial, Roboto, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  color:white;
  margin-top: 10px;
}

.item-outer-box_mcptpl{
  display: table;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  border-collapse:separate;

}
.item-box_mcptpl{
    width: calc(90vw/4.1);
    box-shadow: 0px 2px 7px 1px rgb(0 0 0 / 40%);
    border-style: solid;
    background-color: #AAA;
    border-color: #666;
    border-width: 1px;
    border-radius: 20px;
    height: 230px;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}
.item_mcptpl{

}