{{!--
    Global Template: Bottom Drawer (up to 5 recs)

    @author: Juliano Polito (jpolito@salesforce.com)

    Requirements:
    1) Template will auto attach to the body
    2) Have at least 4 promos setup

    Customizations:
    - You can change the CTA Text for the drawer
    - BG Color
    - Select content zone filter 

--}}
<div id="menuSlideContainer_mcptpl"
    data-evg-campaign-id="{{campaign}}" 
    data-evg-experience-id="{{experience}}"
    data-evg-user-group="{{userGroup}}">

    <div id="menuSlideButton_mcptpl" style="background-position: left bottom;">
        <center>
            <div class="pad">{{ctaText}}</div>
        </center>
    </div>
    <div id="menuSlideContent_mcptpl" style="height: 300px;">
        <div id="menuSlidePad_mcptpl">
            <center>
            <table>
                <tbody>
                    <tr>
                        {{#each promos}}
                        <td style="vertical-align: top !important;">
                            <a href="{{this.url}}" data-evg-item-id="{{this.id}}" data-evg-item-type="Promotion" style="outline: none;text-decoration: none;">                  
                                <div class="item-outer-box_mcptpl">
                                <div class="item-box_mcptpl" style="background:no-repeat center/200% url({{this.bgimage}})!important">
                                    <div class="item_mcptpl">{{#if ../showtext}}
                                        {{#if this.title}}
                                            <center><div class="item-title_mcptpl" alt="{{this.title}}">{{this.title}}</div></center>
                                        {{/if}}
                                        {{#if this.desc}}
                                            <center><div class="item-desc_mcptpl" alt="{{this.desc}}">{{this.desc}}</div></center>
                                        {{/if}}
                                    {{/if}}</div>
                                </div>
                                </div>
                            </a>
                            
                        </td>
                        {{/each}}
                    </tr>
                </tbody>
            </table>
            </center>
        </div>
    </div>
</div>

   


